/* header  */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 2.3rem 4%;
}

.sticky {
    padding: 2.3rem 4%;
    background: var(--bg-color);
    box-shadow: 0 0.4rem 1.5rem rgb(0 0 0 / 8%);
}

.logo {
    font-size: var(--brand-font);
    font-weight: 700;
    color: var(--text-color);
}
.navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25rem;
    height: 110vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 4rem;
    transition: all 0.38s ease;
}

.navbar.open {
    right: 0;
    background: var(--bg-color);
}

.navbar a {
    display: block;
    color: var(--text-color);
    font-size: var(--nav-font);
    font-weight: 600;
    padding: 0.5rem;
    margin: 1.3rem 0;
    border-bottom: 0.2rem solid transparent;
    transition: all 0.45s ease;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
}

.h_icons {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.2rem;
    background: var(--main-color);
    border-radius: 2rem;
    font-size: var(--h2-font);
    color: var(--bg-color);
    cursor: pointer;
}

.h_icons a {
    color: var(--bg-color);
    margin-right: 0.8rem;
}

.menu_icon {
    color: var(--bg-color);
    z-index: 1001;
    cursor: pointer;
    display: block;
}

/* @media (min-width: 990px) {
    .navbar {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        padding: 0;
        background: inherit;
    }

    .navbar a {
        margin: 0.2rem 2.5rem;
    }

    .h_icons a {
        margin-right: 0;
    }
    .menu_icon {
        display: none;
    }
} */
