.container {
    padding: 10rem 6% 8rem;
}

.menu_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    margin: 4rem 0;
    cursor: pointer;
}

.menu_content .row {
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;
    padding: 3rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.45s ease;
}

.menu_content .row:hover {
    transform: scale(1.05);
}

.menu_content .row .img_container {
    width: 100%;
    text-align: center;
}

.menu_content .row .img_container img {
    width: 50%;
    height: auto;
    border-radius: 1rem;
    text-align: center;
}

.menu_content .row .menu_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.menu_content .row .menu_text .menu_left h4 {
    font-size: 1.6rem;
}

.menu_content .row .menu_text .menu_right h5 {
    font-size: 1.6rem;
    color: var(--main-color);
}

.menu_content .row p {
    color: var(--second-color);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.row .star_wrapper {
    margin-right: 0.4rem;
}

.row .star {
    color: var(--rating-star-color) !important;
    font-size: 1.7rem;
    margin-right: 0.4rem;
}

/* similar items  */
.container_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, auto));
    gap: 1.6rem;
    align-items: center;
    margin-top: 2rem;
}

.container_box .c_mainbx {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.4rem;
    border-radius: 1rem;
    height: 9rem;
    background: var(--bg-color);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.45s ease;
    padding: 0px 0rem 0 1rem;
}

.container_box .c_mainbx:hover {
    transform: translateX(1rem);
    cursor: pointer;
}

.container_box .c_mainbx .menu_price {
    font-size: 1.4rem;
    color: var(--main-color);
}

.container_box .c_mainbx .container_img {
    width: 7.5rem;
    height: auto;
    text-align: center;
}

.container_box .c_mainbx .container_img > img {
    width: 7.5rem;
    height: auto;
}

.container_box .c_mainbx .container_text {
    flex: 1;
}
.container_box .c_mainbx .container_text p {
    color: #6e6e6e;
    font-size: var(--p-font);
    font-weight: 500;
}

.container_box .c_mainbx .container_text p.subtext {
    font-size: 1rem;
    color: var(--second-color);
}
.container_box .c_mainbx .container_text a.subtext {
    font-size: 1rem;
    color: var(--second-color);
}
