.container {
    padding: 10rem 6% 8rem;
}

.menu_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    margin: 4rem 0;
    cursor: pointer;
}

.menu_content .row {
    border: 0.1rem solid #ccc;
    border-radius: 0.8rem;
    padding: 3rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all 0.45s ease;
}

.menu_content .row:hover {
    transform: scale(1.05);
}

.menu_content .row .img_container {
    width: 100%;
    text-align: center;
}

.menu_content .row .img_container img {
    width: 50%;
    height: auto;
    border-radius: 1rem;
    text-align: center;
}

.menu_content .row .menu_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.menu_content .row .menu_text .menu_left h4 {
    font-size: 1.6rem;
}

.menu_content .row .menu_text .menu_right h5 {
    font-size: 1.6rem;
    color: var(--main-color);
}

.menu_content .row p {
    color: var(--second-color);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.row .star_wrapper {
    margin-right: 0.4rem;
}

.row .star {
    color: var(--rating-star-color) !important;
    font-size: 1.7rem;
    margin-right: 0.4rem;
}
